{{define "pages/index"}} {{template "layouts/base.start" .}}

<div class="me" id="app">
    <div class="card main">
        <div class="card-body p-5">
            <div>{{.userData.Name}}</div>
            <div class="pb-3">{{.userData.Slug}}</div>
            <div>Investment Balance</div>
            <div>IDR << transactions?.summary?.total | formatNumber >></div>
        </div>
        <div class="bg"></div>
    </div>

    <div class="row row-cols-2 mt-5 text-center buttons">
        <div class="col">
            <a target="_blank" href='https://wa.me/+6281280427369?text=Hi AZ Finance,%0aSaya ingin ajukan *TOP UP*.%0a%0aNAMA : {{.userData.Name}}%0aID : {{replace .userData.Slug " " "-"}}%0aEMAIL : {{.userData.Email}}' class="card" aria-label="top up">
                <div class="card-body p-5">
                    <img src="/icons/tp.png" loading="lazy" height="25" alt="" />
                    <div class="pt-3">Top Up</div>
                </div>
            </a>
        </div>
        <div class="col">
            <a target="_blank" href='https://wa.me/+6281280427369?text=Hi AZ Finance,%0aSaya ingin ajukan *WITHDRAW*.%0a%0aNAMA : {{.userData.Name}}%0aID : {{replace .userData.Slug " " "-"}}%0aEMAIL : {{.userData.Email}}' class="card" aria-label="withdraw">
                <div class="card-body p-5">
                    <img src="/icons/wd.png" loading="lazy" height="25" alt="" />
                    <div class="pt-3">Withdraw</div>
                </div>
            </a>
        </div>
    </div>

    <div :class="`capital ${isProjectionVisible ? 'd-block' : 'd-none'}`">
        <div class="pt-5 pb-5 mt-4 fw-bold" style="font-size: 2.8rem; letter-spacing: 5px; opacity: 0.5;">Capital Gain</div>
        <div style="max-height: 200px">
            <canvas id="myChart"></canvas>
        </div>
        <div class="pills">
            <div><span></span> Actual</div>
            <div><span></span> Projection</div>
        </div>
    </div>

    <div :class="`transactions ${isTransactionVisible ? 'd-block' : 'd-none'}`">
        <div class="pt-5 mt-4 fw-bold" style="font-size: 2.8rem; letter-spacing: 5px; opacity: 0.5;">Transactions</div>
        <table style="width: 100%">
            <tbody>
                <tr v-for="item in transactions.data" :key="item.id">
                    <td class="d-none d-sm-table-cell"><img :src="`/icons/types/${item.type.id}.png`" loading="lazy" height="30" alt="" /></td>
                    <td>
                        <div class="row row-cols-sm-2 row-cols-1 align-items-center">
                            <div class="col">
                                <div><< item.type.name >></div>
                                <div><< item.description >></div>
                                <div><< item.created_at | formatDateTime >></div>
                            </div>
                            <div class="col">
                                <div :class="`pt-2 fw-bold text-${item.type.symbol == '+' ? 'success-emphasis' : 'danger'} text-sm-end`">IDR << item.amount | abs | formatNumber >></div>
                            </div>
                        </div>
                    </td>
                    <td class="d-table-cell d-sm-none"><img :src="`/icons/types/${item.type.id}.png`" height="30" alt="" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{{template "layouts/base.mid" .}}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script></script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    new Vue({
        el: "#app",
        delimiters: ["<<", ">>"],
        data: {
            transactions: [],
            projections: [],
            isTransactionVisible: false,
            isProjectionVisible: false,
        },
        mounted() {
            this.getTransactions();
            this.getProjections();
        },
        updated() {
            if (this.transactions?.data) {
                this.isTransactionVisible = true;
            }
        },
        methods: {
            getTransactions() {
                axios
                    .get("/transactions?user.slug={{.userData.Slug}}")
                    .then((resp) => {
                        this.transactions = resp.data;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            getProjections() {
                axios
                    .get("/projections?user.slug={{.userData.Slug}}&order=id%20asc")
                    .then((resp) => {
                        this.projections = resp.data;

                        if(this.projections?.data) {
                            projectionItems = this.projections.data.map(item => item.projection);
                            periodItems = this.projections.data.map(item => item.month+"."+(item.year % 1000));

                            currentDate = new Date();
                            period = (currentDate.getFullYear() * 12) + (currentDate.getMonth() + 1);

                            actualItems = this.projections.data.map(function(item){
                                if(period >= item.month + (item.year * 12)) {
                                    return item.actual
                                }

                                return null
                            });

                            this.drawChart(projectionItems, actualItems, periodItems)
                            this.isProjectionVisible = true;
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            drawChart(projections, actual, periodItems) {
                const ctx = document.getElementById("myChart");

                new Chart(ctx, {
                    type: "line",
                    borderColor: "#f00",
                    data: {
                        labels: periodItems,
                        datasets: [
                            {
                                data: projections,
                                borderWidth: 2,
                                pointStyle: false,
                                borderColor: "#fff",
                                tension: 0.1,
                            },
                            {
                                data: actual,
                                borderWidth: 3,
                                pointStyle: false,
                                borderColor: "rgba(105, 53, 251, 0.5)",
                                tension: 0.1,
                            },
                        ],
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: false,
                                grid: {
                                    color: false,
                                },
                                ticks: {
                                    stepSize: 0.2,
                                }
                            },
                            x: {
                                grid: {
                                    color: 'rgba(105, 53, 251, 0.1)',
                                }
                            },
                        },
                        responsive: true,
                        maintainAspectRatio: false,
                        plugins: {
                            legend: {
                                display: false,
                            },
                            tooltip: {
                                enabled: false,
                            },
                        },
                        animation: false
                    },
                });
            }
        },
        filters: {
            abs(value) {
                return Math.abs(value);
            },
            formatNumber(value) {
                return value?.toLocaleString("id-ID");
            },
            formatDateTime(value) {
                value = new Date(value);
                const options = { day: "numeric", month: "short", year: "numeric", hour: "numeric", minute: "numeric", hour12: false };
                const formattedDate = value?.toLocaleString("en-US", options);
                const parts = formattedDate.split(", ");
                const [monthDay, year, time] = parts;
                const [month, day] = monthDay.split(" ");
                return day + " " + month + " " + year + " \267 " + time;
            },
        },
    });
</script>

{{template "layouts/base.end" .}} {{end}}
