{{define "pages/index"}} {{template "layouts/base.start" .}}

<div class="me" id="app">
    <div class="card main">
        <div class="card-body p-5">
            <div>{{.userData.Name}}</div>
            <div class="pb-3">{{.userData.Slug}}</div>
            <div>Investment Balance</div>
            <div>IDR << resp?.summary?.total | formatNumber >></div>
        </div>
        <div class="bg"></div>
    </div>
    
    <div class="row row-cols-2 mt-5 text-center">
        <div class="col">
            <a target="_blank" href='https://wa.me/+6281280427369?text=Hi AZ Finance,%0aSaya ingin ajukan *TOP UP*.%0a%0aNAMA : {{.userData.Name}}%0aID : {{replace .userData.Slug " " "-"}}%0aEMAIL : {{.userData.Email}}' class="card" aria-label="top up">
                <div class="card-body p-5">
                    <img src="/icons/tp.png" loading="lazy" height="25" alt="" />
                    <div class="pt-3">Top Up</div>
                </div>
            </a>
        </div>
        <div class="col">
            <a  target="_blank" href='https://wa.me/+6281280427369?text=Hi AZ Finance,%0aSaya ingin ajukan *WITHDRAW*.%0a%0aNAMA : {{.userData.Name}}%0aID : {{replace .userData.Slug " " "-"}}%0aEMAIL : {{.userData.Email}}' class="card" aria-label="withdraw">
                <div class="card-body p-5">
                    <img src="/icons/wd.png" loading="lazy" height="25" alt="" />
                    <div class="pt-3">Withdraw</div>
                </div>
            </a>
        </div>
    </div>


    <div :class="`transactions ${isVisible ? 'd-block' : 'd-none'}`">
        <div class="pt-5 mt-4" style="font-size: 2.4rem; letter-spacing: 3px;">Histories</div>
        <table style="width: 100%">
            <tbody>
                <tr v-for="item in resp.data" :key="item.id">
                    <td class="d-none d-sm-table-cell"><img :src="`/icons/types/${item.type.id}.png`" loading="lazy" height="30" alt="" /></td>
                    <td>
                        <div class="row row-cols-sm-2 row-cols-1 align-items-center">
                            <div class="col">
                                <div class="fw-bold"><< item.type.name >></div>
                                <div><< item.description >></div>
                                <div><< item.created_at | formatDateTime >></div>
                            </div>
                            <div class="col">
                                <div :class="`pt-2 fw-bold text-${item.type.symbol == '+' ? 'success-emphasis' : 'danger'} text-sm-end`">
                                    IDR << item.amount | abs | formatNumber >>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="d-table-cell d-sm-none"><img :src="`/icons/types/${item.type.id}.png`" height="30" alt="" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{{template "layouts/base.mid" .}}

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    new Vue({
        el: "#app",
        delimiters: ["<<", ">>"],
        data: {
            resp: [],
            isVisible: false,
        },
        mounted() {
            this.getData(); // Call the getData method on component mount (page load)
        },
        updated() {
            if(this.resp?.data) {
                this.isVisible = true;
            }
        },
        methods: {
            getData() {
                axios
                    .get("/transactions?user.slug={{.userData.Slug}}")
                    .then((resp) => {
                        this.resp = resp.data;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
        },
        filters: {
            abs(value) {
                return Math.abs(value);
            },
            formatNumber(value) {
                return value?.toLocaleString('id-ID');
            },
            formatDateTime(value) {
                value = new Date(value)
                const options = { day: 'numeric', month: 'short', year: 'numeric', hour: 'numeric', minute: 'numeric', hour12: false };
                const formattedDate = value?.toLocaleString('en-US', options);
                const parts = formattedDate.split(', ');                
                const [monthDay, year, time] = parts;
                const [month, day] = monthDay.split(' ');
                return day+" "+month+" "+year+" \267 "+time;
            },
        },
    });
</script>

{{template "layouts/base.end" .}} {{end}}
